@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2');
}

@font-face {
    font-family: 'Feature';
    src: url('/fonts/FeatureDisplay-Bold-Web.woff2');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/UcCo3FwrK3iLTcviYwY.woff2');
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-bold-webfont.woff2');
}

html, body {
    overflow: auto;
    scrollbar-width: none;
    line-height: initial;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.border-gradient {
    animation: 5s linear infinite spin;
    background: #f46177;
    background: linear-gradient(90deg, #f46177 0, rgba(244, 97, 119, 0) 60%);
    width: 30%;
    min-height: 2000px;
    position: absolute;
    transform: translate(0);
    top: 50%;
    display: block;
    transform-origin: top center;
}

@media (min-width: 1400) {
    .border-gradient{
        width: 20%;
        animation: 6s linear infinite spin;
    }
}

.p-hover-underline::after {
  content: '';
  position: absolute;
  width: 33.333333%;
  height: 0.1rem;
  background-color: #f46177;
  left: 50%;
  transform: translateX(-50%);
  transition: all 300ms;
  opacity: 0;
}

.p-hover-underline:hover::after {
  opacity: 1;
}

@media (min-width: 992px) {
  .p-hover-underline::after {
    bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .p-hover-underline::after {
    bottom: 2rem; 
  }
}